{% macro info(githubUsername, buildId) %}
<div id="github-info-root" data-username="{{ githubUsername }}">
  <div id="github-info">
    <ul>
      <li class="github-user">
        <span class="icon fa-fw fa-brands fa-github"></span>
        <a href="https://github.com/{{ githubUsername }}" class="value" title="View my profile on GitHub">{{ githubUsername }}</a>
      </li>
    </ul>
  </div>
</div>
<script src="/scripts/github.js?v={{ buildId }}" defer></script>
{% endmacro %}
