/* CODE BLOCKS */

pre code.hljs {
  padding: 15px 20px;
  margin: 0 0 20px;
  display: block;
  overflow-x: auto;
  background-color: var(--colour-gray-dark);
}

pre code.hljs .hljs-comment {
  color: var(--colour-code-comment);
}

pre code.hljs .hljs-keyword,
pre code.hljs .hljs-number,
pre code.hljs .hljs-variable,
pre code.hljs .hljs-string {
  color: var(--colour-code-keyword);
}

pre code.hljs .hljs-title {
  color: var(--colour-code-method);
}
